<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njustc.onlinebiz.user.mapper.UserMapper">
    <select id="selectUserByUserId" resultType="User">
        select * from user_account where user_id = #{userId}
    </select>

    <select id="selectUserByUserName" resultType="User">
        select * from user_account where user_name = #{userName}
    </select>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="userId">
        insert into user_account(user_name, user_password, user_role)
        values(#{userName}, #{userPassword}, #{userRole})
    </insert>

    <update id="updateUserNameById">
        update user_account set user_name = #{userName}
        where user_id = #{userId}
    </update>

    <update id="updateUserPasswordById">
        update user_account set user_password = #{userPassword}
        where user_id = #{userId}
    </update>

    <update id="updateUserRoleByUserName">
        update user_account set user_role = #{userRole}
        where user_name = #{userName}
    </update>

    <delete id="deleteUserById">
        delete from user_account where user_id = #{userId}
    </delete>

    <select id="selectUsersWithUserNameLike" resultType="User">
        select * from user_account where user_name like #{pattern}
    </select>

    <select id="selectUserByUserRole" resultType="User">
        select * from user_account where user_role = #{userRole}
    </select>

</mapper>
